@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 15rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* Logo Styles */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.logo img {
    width: 86.041px;
    height: 40px;
}

.logo h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.logo span {
    color: #FF42A5;
}

/* Menu Styles */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.menu a,
.menu p {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.follow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 2rem;
}

/* cover section Starts Here */
.cover {
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    height: 43.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem;
}

.cover-contents h3 {
    color: #0B0223;
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0.7rem;
}

.cover-contents h1 {
    text-align: left;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.7rem;
}

.cover-items {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    padding-bottom: 1rem;
}

.cover-items p,
.cover-contents a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.cover-contents a {
    padding: 1.31rem 2.5rem;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFFFFF;
    margin-right: 24px;
}

.content-buttons {
    padding-top: 40px;
}

/* Online Games Funny Video Style */
.video-gallery {
    padding-top: 120px;
}

.video-gallery>h3 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 1rem;
}

.video-gallery>h3>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-size: 48px; */
    font-weight: 700;
}

.video-gallery>p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 1rem;
}

.vid-gal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.2rem 15rem;
    gap: 2rem;
    position: relative;
    height: 400px;
}

.img-descriptions {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    /* position: absolute; */
    top: 450px;
}

.gallery-item {
    position: relative;
}

.gallery-img {
    display: inline-block;
    z-index: 1;
}

.top-flow {
    background-color: #000000c0;
    width: 342px;
    height: 400px;
    text-align: center;
    border-radius: 1rem;
    position: absolute;
    top: 0px;
    z-index: 2;
    transition: opacity 0.5s ease;
    visibility: hidden;
}

.gallery-item:hover .top-flow {
    visibility: visible;
}

.top-flow svg {
    margin-top: 200px;
    padding-bottom: 20px;
}

.top-flow p {
    color: #FF42A5;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* Play Instantly, No Downloads No Installs. Section */

.play-instantly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9rem 15rem;

}

.play-description {
    position: relative;
    right: -7.5rem;
}

.play-description h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}


.play-description span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.7rem;
}

.play-description p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play-images {
    position: relative;
}

.play-img-1 {
    position: relative;
    z-index: 1;
}

.play-img-2 {
    position: absolute;
    bottom: -4.7rem;
    left: -9rem;
    z-index: 3;
}

/* Category Section Style */
.categories {
    padding: 9rem 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.categories-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 20px;
}

.category {
    flex: 0 0 calc(15% - 10px);
    margin: 5px;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #FFF;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid transparent;
}

.category-img {
    height: 60px;
    width: 60px;
}

.category p {
    font-size: 20px;
    font-weight: 600;
}

.category:hover {
    border: 1px solid #FF42A5;
    color: #F948B2;
}

/* Footer Style */
footer {
    padding: 9rem 15rem;
    background: #0B0223;
}

footer>.logo>h3 {
    color: white;
}

.footer-nav {
    list-style: none;
    margin: 33px auto;
}

.footer-menu-link {
    color: white;
    text-decoration: none;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer-icon>svg {
    height: 40px;
    width: 40px;
}

.privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 70px;
    list-style: none;
}

.privacy-link {
    color: white;
    text-decoration: none;
}

.rights {
    text-align: center;
    color: white;
    color: rgba(255, 255, 255, 0.60);
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 500;
}









@media screen and (max-width:425px) {
    nav {
        display: flex;
        flex-direction: column;
        padding: 1.2rem 8rem;
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    .follow-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
        height: 20px;
        padding: 1rem 1rem;
    }

    /* Cover Responsive */
    .cover {
        background-image: url("../images/Group\ 14.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 260px;
        padding: 1.2rem 8rem;
        height: 33.75rem;
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        top: 100px;
    }

    .cover-contents h3 {
        font-size: 38px;
        padding-bottom: 0.5rem;
    }

    .cover-contents h1 {
        font-size: 75px;
        padding-bottom: 0.5rem;
    }

    .cover-items p,
    .cover-contents a {
        font-size: 0.9rem;
    }

    .cover-contents a {
        padding: 0.91rem 1.5rem;
    }

    .cover-img img {
        width: 300px;
    }

    .content-buttons {
        padding-top: 10px;
    }

    /* Online Games Funny Responsive */
    .video-gallery>h3 {
        font-size: 28px;
    }

    .video-gallery>p {
        font-size: 14px;
    }

    .vid-gal {
        display: flex;
        flex-direction: column;
        position: relative;
        left: -20px;
        top: 750px;
    }

    .play-instantly {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: -200px;
        top: 1400px;
        width: 100%;
    }

    .play-description {
        position: relative;
        left: -2.2rem;
    }

    .play-description h3 {
        text-align: center;
        font-size: 28px;
        line-height: 30px;
    }

    .play-description p {
        text-align: center;
        font-size: 14px;
        line-height: 28px;
    }

    .play-images {
        max-width: 100%;
    }

    .play-img-1 {
        width: 80%;
    }

    .play-img-2 {
        bottom: -10rem;
        left: 5rem;
        width: 50%;
    }

    .categories {
        padding: 1.2rem 8rem;
        background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
        position: relative;
        top: 1450px;
    }

    .categories-1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .2rem;
        margin-top: 10px;
    }

    .category-img {
        height: 40px;
        width: 40px;
    }

    .category p {
        font-size: 10px;
        font-weight: 400;
    }

    /* footer Responsive Design */
    footer {
        padding: 1.2rem 8rem;
        position: relative;
        top: 1550px;
    }

    .footer-nav {
        /* display: flex;
        flex-direction: row; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        position: relative;
        left: -130px;
        width: 100%;
    }

    .footer-icons {
        gap: 20px;
    }

    .footer-menu-link {
        font-size: .8rem;
        width: 70px;
    }

    .privacy {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .privacy-link {
        color: white;
        text-decoration: none;
        font-size: .7rem;
    }

    .rights {
        margin-top: 1rem;
        font-size: 8px;
    }
}