@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 15rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

/* Logo Styles */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.logo img {
    width: 86.041px;
    height: 40px;
}

.logo h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.logo span {
    color: #FF42A5;
}

/* Menu Styles */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu li {
    list-style: none;
}

.menu a,
.menu p {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.follow-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 2rem;
}

/* cover section Starts Here */
.cover {
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
    height: 43.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 15rem;
}

.cover-contents h3 {
    color: #0B0223;
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0.7rem;
}

.cover-contents h1 {
    text-align: left;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.7rem;
}

.cover-items {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    padding-bottom: 1rem;
}

.cover-items p,
.cover-contents a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.cover-contents a {
    padding: 1.31rem 2.5rem;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFFFFF;
    margin-right: 24px;
}

.content-buttons {
    padding-top: 40px;
}

/* Online Games Funny Video Style */
.video-gallery {
    padding-top: 120px;
}

.video-gallery>h3 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 1rem;
}

.video-gallery>h3>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.video-gallery>p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 1rem;
}

.vid-gal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2.2rem 15rem;
    gap: 2rem;
    position: relative;
    height: 400px;
}

.img-descriptions {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    /* position: absolute; */
    top: 450px;
}

.gallery-item {
    position: relative;
}

.gallery-img {
    display: inline-block;
    z-index: 1;
}

.top-flow {
    background-color: #00000067;
    width: 342px;
    height: 400px;
    text-align: center;
    border-radius: 1rem;
    position: absolute;
    top: 0px;
    z-index: 2;
    transition: opacity 0.5s ease;
    visibility: hidden;
}

.gallery-item:hover .top-flow {
    visibility: visible;
}

.top-flow svg {
    margin-top: 200px;
    padding-bottom: 20px;
}

.top-flow p {
    color: #FF42A5;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* Play Instantly, No Downloads No Installs. Section */

.play-instantly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9rem 15rem;

}

.play-description{
    position: relative;
    right: -7.5rem;
}

.play-description h3 {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}


.play-description span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 0.7rem;
}

.play-description p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.play-images{
    position: relative;
}

.play-img-1{
    position: relative;
    z-index: 1;
}
.play-img-2{
    position: absolute;
    bottom: -4.7rem;
    left: -9rem;
    z-index: 3;
}






















































@media screen and (max-width: 425px) {
    nav {
        display: block;
        justify-content: center;
    }

    .menu {
        display: block;
        justify-content: center;
    }

    .cover {
        display: flex;
        flex-direction: row-reverse;
    }

    .cover-img>img {
        width: 100%;
    }

}